@model CMD.ViewModels.AckDataViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p></p>
<p></p>

<div class="row">
    <div class="col-md-12" id="showsearchdiv">
        @Html.CheckBox("NeedSearch", new { id = "NeedSearchcbx" })<label>監控項目查詢</label>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="serachdiv">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="form-group">
                    @Html.Label("環境", new { Class = "col-md-1 control-label" })
                    @Html.DropDownListFor(m => m.nowClass, (SelectList)Model.ClassList, new { Class = "col-md-11 form-control" })
                </div>
                <br />
                <div class="form-group">
                    @Html.Label("分類", new { Class = "col-md-1 control-label" })
                    @Html.DropDownListFor(m => m.nowType, (SelectList)Model.TypeList, new { Class = "col-md-11 form-control", id = "TypeList" })
                </div>
                <br />
                <div class="form-group">
                    @Html.Label("系統", new { Class = "col-md-1 control-label" })
                    @Html.DropDownListFor(m => m.nowSys, (SelectList)Model.SysList, new { Class = "col-md-11 form-control", id = "SysList" })
                </div>
                <br />
                @*<div class="form-group">
                        @Html.Label("監控項目主旨");
                        @Html.DropDownList("ClassList", (IEnumerable<SelectListItem>)Model.SubjectList, new { Class = "form-control" });
                    </div>*@
            </div>
            <br />
            <div class="row">
                <div class="form-group">
                    <input type="submit" class="col-md-offset-1 col-md-12 btn btn-primary" id="submitbtn" value="查詢" />
                </div>
            </div>
        }
    </div>
</div>
<hr />
<h2>復歸項目清單</h2>
<div class="row">
    <div class="col-md-12">
        <input type="button" value="復歸" class="btn btn-primary" id="ackbtn" />
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-md-12">
        @Html.Label("復歸類型", new { Class = "col-md-1 control-label" })
        @Html.DropDownListFor(m => m.nowAckType, (SelectList)Model.AckTypeList, new { Class = "col-md-11 form-control", id = "AckTypeList" })
    </div>
    <div class="col-md-12">
        @Html.Label("復歸原因", new { Class = "col-md-1 control-label" })
        @Html.DropDownListFor(m => m.nowAckReason, (SelectList)Model.AckReasonList, new { Class = "col-md-11 form-control", id = "AckReasonList" })
    </div>
</div>
    <div class="row">
        <div class="col-md-12" id="monitordataviewdiv">
            <table class="table table-bordered" id="monitordataviewtb">
                <tr class="active">
                    <td id="Acktd"></td>
                    <td id="Edittd">編輯監控項目</td>
                    <td>監控項目主旨</td>
                    <td>回報狀態</td>
                    <td>異常發生時間</td>
                    <td>異常恢復時間</td>
                    <td>系統負責人</td>
                    <td>環境</td>
                    <td>分類</td>
                    <td>系統別</td>
                </tr>
                @if (Model.AckData != null)
                {
                    foreach (var item in Model.AckData)
                    {
                        string TRClass = "danger";

                        //if (item.回報結果 == "Unknown")
                        //{
                        //    TRClass = "warning";
                        //}
                        //else if (item.回報結果 == "Error" || item.回報結果 == "Fatal")
                        //{
                        //    TRClass = "danger";
                        //}
                        //else if (item.回報結果 == "Normal")
                        //{
                        //    TRClass = "success";
                        //}
                        //else
                        //{
                        //    TRClass = "info";
                        //}
                        <tr class=@TRClass>
                            <td>@Html.CheckBox("Ack", new { id = "Ack" + "_" + item.復歸編號, Class = "checkbox" })</td>
                            <td>@item.復歸編號</td>
                            <td><a href=@Url.Content("~/MonitorProperty/Detail?sno=@item.監控項目編號")>@item.監控項目主旨</a></td>
                            <td><a>@item.監控項目主旨</a></td>
                            <td>@item.回報狀態</td>
                            <td>@item.異常發生時間</td>
                            <td>@item.異常恢復時間</td>
                            <td>@item.環境</td>
                            <td>@item.分類</td>
                            <td>@item.系統別</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    @Html.Raw(TempData["QueryMsg"])
    @section ackdatascripts
{
        <script>
            $(function () {
                $("#serachdiv").hide();
                $("#NeedSearchcbx").change(function () {
                    if ($("#NeedSearchcbx").prop("checked")) {
                        $("#serachdiv").show();
                    }
                    else {
                        $("#serachdiv").hide();
                    }
                });

                //當類型選單變化時，連動取得系統別選單
                $("#TypeList").change(function () {
                    var val = $("#TypeList :selected").val();
                    $.getJSON("@Url.Content("~/MonitorProperty/getSysList")", 't_id=' + val, function (data) {
                        $("#SysList option").remove();
                        $.each(data, function (i, opt) {
                            $("<option></option>").val(opt.id).text(opt.value).appendTo($("#SysList"));
                        });
                    });
                });

                //當復歸類型選單變化時，連動取得系統別選單
                $("#AckTypeList").change(function () {
                    var val = $("#AckTypeList :selected").val();
                    $.getJSON("@Url.Content("~/AckData/getAckReasonList")", 'a_id=' + val, function (data) {
                        $("#AckTypeList option").remove();
                        $.each(data, function (i, opt) {
                            $("<option></option>").val(opt.id).text(opt.value).appendTo($("#AckTypeList"));
                        });
                    });
                });

                $("#ackbtn").click(function () {
                    var AckList = "";
                    $('#monitordataviewtb').find('input[type="checkbox"]:checked').each(function () {
                        //this is the current checkbox
                        var currentid = this.id;
                        if (AckList == "") {
                            AckList = AckList + currentid.split("_")[1];
                        }
                        else {
                            AckList = AckList + "," + currentid.split("_")[1];
                        }
                    });

                    if (AckList != "") {
                        $.blockUI({
                            message: '<h1><img src="~/pic/busy.gif" /> 正在復歸中，請稍後</h1>'
                        });

                        $.ajax({
                            url: "@Url.Content("~/AckData/Ack")",
                            type: "POST",
                            contextType: "text/html; charset=utf-8",
                            data: { AckList: AckList },
                            success: function (data) {
                                $.unblockUI();
                                alert(data);
                            }
                        });
                    }
                    else {
                        alert("請至少選一項目");
                    }
                });

            })
        </script>
    }
